body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica', sans-serif;
    background-color: #f4f4f4; 
}

main {
    flex-grow: 1; 
}

footer {
    height: 50px; 
    width: 100%;
    background-image: url('../assets/images/movie_banner.png');
    padding-left: 20px; 
    color: #000; 
    display: flex;
    align-items: center; 
    box-sizing: border-box; 
}



.header {
    background-image: url('../assets/images/movie_banner.png'); /* Path to your image */
    background-size: cover; /* Cover the entire header area */
    background-position: center; /* Center the background image */
    color: white; /* Change the text color to white for better visibility */
    text-align: center; /* Center-align the text */
    padding: 20px 0; /* Add some padding */
}



header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

#search-area input[type="search"] {
    padding: 8px;
    width: 300px; /* Fixed width for the search box */
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-area {
    display: flex;
    justify-content: left;
    padding: 20px 20px; 
    margin: 10px 20px; 
}

#movie-search {
    width: 80%; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc;
    border-radius: 5px; 
}


/* Responsive image settings */

.movie-image {
    max-width: 100%; /* Limits the image from exceeding the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes bottom space */
}

@media (max-width: 600px) {
    #search-area input[type="search"] {
        width: 100%; 
    }

    .movie {
        width: 100%; 
    }
}


#movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items on the page */
    gap: 20px;
    padding: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    margin: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.movie.hide {
    transform: scale(0.5); 
    opacity: 0; 
    height: 0;
    overflow: hidden;
    margin: 0; 
    padding: 0; 
}


.movie img {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
}

.movie h2 {
    margin: 10px 0 5px;
    padding: 0 10px;
    font-size: 1.2em; 
}

.movie p {
    padding: 0 10px;
    font-size: 0.9em;
    color: #666;
}


.movie:hover {
    transform: scale(1.03); /* Slight scale-up effect */
    transition: transform 0.3s ease-in-out;
}



