/* General Body and HTML Styling */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Arial', sans-serif; /* Ensures a clean, modern font is used */
    background-color: #f4f4f4; /* Light grey background for slight contrast */
}

main {
    flex-grow: 1; 
}

footer {
    height: 50px; 
    width: 100%;
    background-color: #ccc;
    padding-left: 20px; 
    color: #000; 
    display: flex;
    align-items: center; 
    box-sizing: border-box; 
}


/* Header Styling */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Styling */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Search Input Styling */
#search-area input[type="search"] {
    padding: 8px;
    width: 300px; /* Fixed width for the search box */
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#search-area {
    display: flex;
    justify-content: left; /* Centra el campo de búsqueda horizontalmente */
    padding: 20px 20px; /* Añade espacio arriba y abajo para centrarlo verticalmente */
    margin: 10px 20px; /* Añade espacio a los lados para evitar que el campo toque los bordes */
}

#movie-search {
    width: 80%; /* Ajusta el ancho del campo de búsqueda */
    padding: 10px; /* Añade un poco de relleno interno para que el texto no esté tan pegado */
    font-size: 16px; /* Aumenta el tamaño de la fuente para mejor legibilidad */
    border: 1px solid #ccc; /* Añade un borde sutil */
    border-radius: 5px; /* Redondea las esquinas del campo de búsqueda */
}


/* Responsive image settings */
.movie-image {
    max-width: 100%; /* Limits the image to not exceed the width of its container */
    height: auto; /* Maintains the aspect ratio */
    display: block; /* Removes bottom space */
}

@media (max-width: 600px) {
    #search-area input[type="search"] {
        width: 100%; /* Full width on smaller screens */
    }

    .movie {
        width: 100%; /* Make each movie box take full width */
    }
}


#movie-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items on the page */
    gap: 20px;
    padding: 20px;
}

.movie {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    width: 220px;
    margin: 10px;
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 1;
}

.movie.hide {
    transform: scale(0.5); /* Reduce el tamaño para dar un efecto de desaparición */
    opacity: 0; /* Hace que la película sea totalmente transparente */
    height: 0;
    overflow: hidden;
    margin: 0; /* Elimina márgenes durante la transición */
    padding: 0; /* Elimina rellenos durante la transición */
}


.movie img {
    width: 100%; /* ensures the image takes the full width of the container */
    height: 300px; /* fixed height for all images */
    object-fit: cover; /* ensures the image covers the area, cropping it if necessary */
}

.movie h2 {
    margin: 10px 0 5px;
    padding: 0 10px;
    font-size: 1.2em; /* Adjust font size as necessary */
}

.movie p {
    padding: 0 10px;
    font-size: 0.9em;
    color: #666;
}


.movie:hover {
    transform: scale(1.03); /* Slight scale-up effect */
    transition: transform 0.3s ease-in-out;
}

